.card img {
  width: 150px;
}

.card {
  color: white;
  width: 150px;
  border-radius: 5px;
  border: 1px solid rgb(230,230,230);
  box-shadow: 22px 47px 93px -16px rgba(0,0,0,0.75);
  padding: 20px;
  text-align: center;
  background-color: black;
}

.cards {
  /* background-color: black; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
